{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid w-75">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--required by djano for security (sql attacks)-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">New Notes</legend>
				{{ form|crispy }}
				{{form.media}}
				<input type="hidden" name="version_number" value="1" />
			</fieldset>
			<div class="form-group">
				<button class="btn btn-info" type="submit">Add Notes</button>
			</div>
			<!--{{form.instance.rating}}-->
		</form>
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script>
var notes = "#div_id_notes";

$(notes).change(function(){
	save(event);
	});

function save(event) {
	alert("changed!");
    event.target.form['version_number'].value++;
    var request = new XMLHttpRequest();
    request.open(event.target.form.method, event.target.form.action);
    request.send(new FormData(event.target.form));
}
</script>

<script>
var note_type = "#div_id_note_type";
var author = "#div_id_author";
var rating = "#div_id_rating";

show_input_field([author,rating], false);

$(note_type).change(function(){
// Get the value of the option
	var value = $(note_type +" option:selected").val();

	// Check the value
	if (value === "book") {
		show_input_field([author,rating], true);
		}
	else if(value == "doc") {
	    $(rating).show();
	    $(author).hide();
		}
	else {
		show_input_field([author,rating], false);
	}
});

function show_input_field(ids, show) {
	ids.forEach(id => show ? $(id).show() : $(id).hide());
}
</script>
{% endblock %}
