{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid w-75">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--required by djano for security (sql attacks)-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">New Notes</legend>
				{{ form|crispy }}
				{{form.media}}
				<input type="hidden" name="version_number" value="1" />
			</fieldset>
			<div class="form-group">
				<button class="btn btn-info" type="submit">Add Notes</button>
			</div>
			<!--{{form.instance.rating}}-->
		</form>
	</div>
</div>
{% endblock content %}
{% block scripts %}

<script src = " {% static 'js_scripts/changeFields.js' %} "></script>
{% endblock %}
