{% extends "feed/base.html" %}
{% load my_extras %}
{% load static %} <!-- ** replace post image with user profile img ** -->
{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <h3>All Notes</h3>
        </div>
        <div class="mt-3">
        	{% for post in all_posts %}
        	<div class="mb-1">
            	<li>
            		{% if post.title|length < 20 %}
                	<a href="{% url 'post-detail' post.id%}">{{post.title}}</a>
            		{% else %}
            		<a href="{% url 'post-detail' post.id%}">{{post.title|slice:":20"}}...</a>
            		{% endif %}
            	</li>
       		</div>
            {% endfor %}
        </div>
    </nav>
    
    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>View All Notes</span>
            </button>

        </div>
    </nav>
    </div>

<div class="container-fluid">
<div class="page-header">
<h1 class="text-center">Knowledge Tree Home</h1>
</div>
<div class="container">
<div class="jumbotron">
<p>
Knowledge Tree is an application designed to faciliate learning through organising educative resources and integrated note taking.
</p>
</div>
</div>
{% if not user.is_authenticated %}
 <div class="container-fluid w-75">
  <div class="alert alert-warning text-center">
    Warning: You are not logged in, you must be logged in to add new notes and make edits.
    </div>
  </div>
{% endif %}
	{% for post in posts %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src = "{% static 'img/logo.png' %}">
		  <!-- <div class="col-md-10"> -->
		  	<div>
		    <div class="article-metadata">
		      <a class="mr-2" href="">{{ post.posted_by }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"d F, Y P e" }}</small>
		    </div>
		    <h2>
		    {% if post.note_type == "book" %}
		    <span class="fas fa-book"></span>
		    {% elif post.note_type == "doc" %}
		    <span class="fas fa-video"></span>
		    {% else %}
		    <span class="fas fa-user-tie"></span>
		    {% endif %}
		    <a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a>
			</h2>
	    	<!-- <p class="pt-2">
	    	{% for category in post.categories.all|dictsort:"category" %}
	    	<a href="#" class="btn btn-primary btn-sm">{{category}} </a>
	    	{% endfor %}
		    </p> -->
		    <p class="pt-2">
		    	{% for category in post.category|format_category %}
		    	<a href="{% url 'feed-home-filter-category' cat=category %}" class="btn btn-primary btn-sm">{{ category }}</a>
		    	{% endfor %}
		    </p>
		    <p class="article-content">{{ post.notes|format_notes|safe }}</p>		
		  </div>

	  	    <div class="ml-auto pt-5">
	  	    {% if post.note_type == "book" %}
		    <a href="#" class="btn btn-info btn-sm">{{ post.author }}</a>
		    {% endif %}
		    <p class="pt-2"><a href="#" class="btn btn-default disabled btn-sm">
		    {{ post.status|title }}</a></p>
		    <p>

		    {% if post.note_type == "book" or post.note_type == "doc" %}
		    <!-- show rating stars -->
		    {% for rating in post.rating|range %}
		    <span class="fas fa-star"></span>
		    {% endfor %}

		    <!-- show blank stars for 5 - rating -->
		    {% if post.rating < 5 %}
		    {% for diff in post.rating|rating_difference %}
		    <span class="far fa-star"></span>
		    {% endfor %}
		    {% endif %}
		    {% endif %}
			</p>
			</div>
		</article>
	{% endfor %}

{% if is_paginated and request.path == '/' %}

	{% if page_obj.has_previous %}
	<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}

		{% if page_obj.number == num %}
		<a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
	{% endif %}

{% endif %}
{% endblock content %}
</div>


</div>
{% block scripts %}
<script>
	$(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>
{% endblock %}