{% extends "feed/base.html" %}
{% load my_extras %}
{% load static %} <!-- ** replace post image with user profile img ** -->
{% block content %}
<div class="container-fluid w-75">
<div class="page-header">
<h1 class="text-center">Knowledge Tree Home</h1>
</div>
<div class="container">
<div class="jumbotron">
<p>
Knowledge Tree is an application designed to faciliate learning through organising educative resources and integrated note taking.
</p>
</div>
</div>

	{% for post in posts %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src = "{% static 'img/logo.png' %}">
		  <!-- <div class="col-md-10"> -->
		  	<div>
		    <div class="article-metadata">
		      <a class="mr-2" href="">{{ post.posted_by }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"d F, Y P e" }}</small>
		    </div>
		    <h2>
		    {% if post.note_type == "book" %}
		    <span class="fas fa-book"></span>
		    {% elif post.note_type == "doc" %}
		    <span class="fas fa-video"></span>
		    {% else %}
		    <span class="fas fa-user-tie"></span>
		    {% endif %}
		    <a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a>
			</h2>
	    	<!-- <p class="pt-2">
	    	{% for category in post.categories.all|dictsort:"category" %}
	    	<a href="#" class="btn btn-primary btn-sm">{{category}} </a>
	    	{% endfor %}
		    </p> -->
		    <p class="pt-2">
		    	{% for category in post.category|format_category %}
		    	<a href="#" class="btn btn-primary btn-sm">{{ category }}</a>
		    	{% endfor %}
		    </p>
		    <p class="article-content">{{ post.notes | safe }}</p>		
		  </div>

	  	    <div class="ml-auto pt-5">
	  	    {% if post.note_type == "book" %}
		    <a href="#" class="btn btn-info btn-sm">{{ post.author }}</a>
		    {% endif %}
		    <p class="pt-2"><a href="#" class="btn btn-default disabled btn-sm">
		    {{ post.status|title }}</a></p>
		    <p>

		    {% if post.note_type == "book" or post.note_type == "doc" %}
		    <!-- show rating stars -->
		    {% for rating in post.rating|range %}
		    <span class="fas fa-star"></span>
		    {% endfor %}

		    <!-- show blank stars for 5 - rating -->
		    {% if post.rating < 5 %}
		    {% for diff in post.rating|rating_difference %}
		    <span class="far fa-star"></span>
		    {% endfor %}
		    {% endif %}
		    {% endif %}
			</p>
			</div>
		</article>
	{% endfor %}

</div>
{% endblock content %}