{% extends "feed/base.html" %}
{% load static %} 
{% block content %}
	<div class="content-section">
			{% csrf_token %} <!--required by django for security (sql attacks)-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Send Post to Evernote
				<img src="{% static 'img/evernote_logo.png' %}" id="evernote_logo">
				</legend>
				<h2>Send the notes "{{ title }}" to Evernote?</h2>
			</fieldset>
			<a class="btn btn-outline-success" href="{% url 'evernote_auth' post_id %}">Send</a>
			<a class="btn btn-outline-secondary" href="{% url 'post-detail' post_id %}">Cancel</a>
	</div>
{% endblock content %}